@use '../variables' as *;
@use '../mixins' as *;
@use '../Components/navbar' as *;

:root {
    --header-height: #{$header-H};
}

.header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    z-index: 100;
    background-color: var(--bg-base);
    box-sizing: border-box;

    @include flex-row(flex-start,space-between);

    width: 100%;
}