body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(248, 248, 248);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    display: flex;
    align-items: center;
}

ul,li{
    list-style: none;
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding-top: 32px;
}

.card{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 36px;
    border-radius: 10px;
    width: 50%;
    margin-top: 32px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.list{
    color: white;
    list-style: none;
    min-width: 300px;
    margin-left: 36px;
    border-left:1px dashed rgb(200, 200, 200);
}

.list-main{
    margin: auto;
    margin-left: 0;
    width: fit-content;
}

.list__item{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding: 2px 16px;
    width: 100%;
    border-radius: 6px;
    margin-top:2px;
}

.list__item--array{
    text-transform: uppercase;
    margin-top: 8px;
}

.typeOfVal{
    font-size: 0.7rem;
    padding: 2px;
    border-radius: 5px;
}

.typeOfVal--error{

    background-color: rgb(233, 95, 95);
    color: white;

}

.error{
    color:red;
    margin: auto;
    margin-top: 8px;
}

.theme1{
    background-color:#1F2933;
    color:#F9FAFB;
}

.theme2{
    background-color:#374151;
    color:#F9FAFB;
}

.theme3{
    background-color:#9CA3AF;
    color:#111827;
}

.theme4{
    background-color:#ebe5e5;
    color:#1F2933;
}

.themeError{
    background-color:#ec4444;
    color:#fcfcfc;
}

.array{
    background-color: rgb(162, 233, 95);
    color: black;
}

.boolean{
    background-color: rgb(233, 233, 233);
    color: black;
}

.integer{
    background-color: rgb(123, 218, 255);
    color: black;
}

.string{
    background-color: rgb(255, 210, 174);
    color: black;
}

.double{
    background-color: rgb(207, 147, 255);
    color: black;
}

.hide{
    overflow: hidden;
    animation: 0.5s ease-in-out 0s 1 forwards dropup;
}

.show{
    overflow: hidden;
    animation: 0.5s ease-in-out 0s 1 forwards dropdown;
}

@keyframes dropup {
    0%{
        max-height: 500px;
    }
    100%{
        max-height: 0px;
    }
}

@keyframes dropdown {
    100%{
        max-height: 500px;
    }
    0%{
        max-height: 0px;
    }
}