//Ressources/Sass/_variables.scss

// Breakpoints
$breakpoint-sm: 570px;
$breakpoint-md: 850px;
$breakpoint-lg: 1200px;

// Navbar
$navbar-padY : 16px;

// Header
$header-H : calc($navbar-padY + 50px);

// ======================== POLICES ========================
$font-body:  'Inter', sans-serif;
$font-title: 'Manrope', sans-serif;